{% extends "korisnici/base.html" %}
{% block content %}

<div class="content justify-content-center">

    <h4>Šta je to voćarski dnevnik?</h4>
    <p>Voćarski dnevnik je alat za elektronsku vođenju evidencije o agrotehničkim mjerama provedenim u zasadima.</p>
    <h4>Zašto mi treba evidencija o agrotehničkim zahvatima?</h4>
    <p>Evidenciju o agrotehničkim zahvatima je osnova integralnoj proizvodnji voća. Bez evidencije, ne može se organizovati integralna proizvodnja voća.</p>
    <h4>Zašto elektronski dnevnik, a ne dnevnik na papiru?</h4>
    <p>Zato što sa elektronskim dnevnikom uvijek možete pristupiti informacijama, uvijek možete unijeti nove podatke, te će Vaši podaci biti sigurni!</p>

</div>

{% endblock content %}