{% extends "korisnici/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h3>Informacije za korisnika: {{user.username}} </h3>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Korisnik</th>
        <th scope="col">Godina</th>
        <th scope="col">Parcela</th>
        <th scope="col">Kultura</th>
        <th scope="col">Sorta</th>
        <th scope="col">Početak cvatnje</th>
        <th scope="col">Početak berbe</th>
        <th scope="col">Završetak berbe</th>
        <th scope="col">Očekivani prinos (kg/ha)</th>
        <th scope="col">Ostvareni prinos (kg/ha)</th>
        <th scope="col">Ostvareni prihod</th>

      </tr>
    </thead>
    {% for analiza in analize %}

        <tbody>
            <tr>
            <td> {{ analiza.korisnik }}</td>
            <td> {{ analiza.godina }}</td>
            <td> {{ analiza.parcela }}</td>
            <td> {{ analiza.kultura }}</td>
            <td> {{ analiza.sorta }}</td>
            <td> {{ analiza.početak_cvatnje }}</td>
            <td> {{ analiza.početak_berbe }}</td>
            <td> {{ analiza.završetak_berbe }}</td>
            <td> {{ analiz.očekivani_prinos }}</td>
            <td> {{ analiza.ostvareni_prinos }}</td>
            <td> {{ analiza.ostvareni_prihod }}</td>
            </tr>
        
        </tbody>
        {% endfor %}
    </table>
    
    <div class="content-section">
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Unesi podatke:
              {{ form.as_ul }}
              </legend>
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-dark" type="submit">Pošalji rezultate</button>
          </div>
      </form>
      
  </div>

{% endblock content %}