{% extends "korisnici/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h3>Informacije za korisnika: {{user.username}} </h3>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Korisnik</th>
        <th scope="col">Godina</th>
        <th scope="col">Parcela</th>
        <th scope="col">Vrsta kulture</th>
        <th scope="col">Sorta</th>
        <th scope="col">Uzgojni oblik</th>
        <th scope="col">Razmak_sadnje</th>
        <th scope="col">Visina krošnje (cm)</th>
        <th scope="col">Datum sadnje</th>

      </tr>
    </thead>
    {% for analiza in analize %}

        <tbody>
            <tr>
            <td> {{ analiza.korisnik }}</td>
            <td> {{ analiza.godina }}</td>
            <td> {{ analiza.parcela }}</td>
            <td> {{ analiza.vrsta_kulture }}</td>
            <td> {{ analiza.sorta }}</td>
            <td> {{ analiza.uzgojni_oblik }}</td>
            <td> {{ analiza.razmak_sadnje }}</td>
            <td> {{ analiza.visina_krošnje }}</td>
            <td> {{ analiza.datum_sadnje }}</td>
            </tr>
        
        </tbody>
        {% endfor %}
    </table>
    
    <div class="content-section">
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Unesi podatke:
              {{ form.as_ul }}
              </legend>
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-dark" type="submit">Pošalji rezultate</button>
          </div>
      </form>
      
  </div>

{% endblock content %}