{% extends "korisnici/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h3>Informacije za korisnika: {{user.username}} </h3>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Korisnik</th>
        <th scope="col">Godina</th>
        <th scope="col">Parcela</th>
        <th scope="col">Vrsta voća</th>
        <th scope="col">Sorta</th>
        <th scope="col">Godina sadnje</th>
        <th scope="col">Površina (ha)</th>
        <th scope="col">Broj sadnica</th>
        <th scope="col">Broj redova</th>

      </tr>
    </thead>
    {% for analiza in analize %}

        <tbody>
            <tr>
            <td> {{ analiza.korisnik }}</td>
            <td> {{ analiza.godina }}</td>
            <td> {{ analiza.parcela }}</td>
            <td> {{ analiza.vrsta_voća }}</td>
            <td> {{ analiza.sorta }}</td>
            <td> {{ analiza.godina_sadnje }}</td>
            <td> {{ analiza.površina }}</td>
            <td> {{ analiza.broj_sadnica }}</td>
            <td> {{ analiza.broj_redova }}</td>
            </tr>
        
        </tbody>
        {% endfor %}
    </table>
    
    <div class="content-section">
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Unesi podatke:
              {{ form.as_ul }}
              </legend>
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-dark" type="submit">Pošalji rezultate</button>
          </div>
      </form>
      
  </div>

{% endblock content %}